In [48]:
import pandas as pd
import datetime

In [4]:
df = pd.read_csv('glassdoor_jobs.csv')

In [7]:
#salary parsing
#company name text only
#remove job_type,industry and size
#age of company
df.head()

,company_name,job_type,base_salary,industry,company_size,founded,rating,company_type,sector
0,"ExodusPoint Capital Management Hong Kong, Limi...",Job Type: Full-time,HK$210K - HK$368K (Glassdoor Est.),Industry: Finance,Size: 501 to 1000 Employees,2017,3.2,Company - Private,Finance
1,Achievers Recruitment Limited\n4.7,Job Type: Full-time,-1,Industry: Business Services,Size: 1 to 50 Employees,2016,4.7,Company - Private,Business Services
2,Excel Technology International (Hong Kong) Lim...,Job Type: Full-time,-1,Industry: Information Technology,Size: 201 to 500 Employees,1988,1.7,Company - Private,Information Technology
3,Sun Life Hong Kong Ltd\n4.5,Job Type: Full-time,-1,Industry: N/A,Size: Unknown,2021,4.5,Company - Private,NaN
4,"Loscam (Asia Pacific) Co., Limited",Job Type: Full-time,-1,Industry: N/A,Size: N/A,2021,-1.0,NaN,NaN

In [58]:
df = df[df['base_salary'] != '-1']
#labmda function is just a function but not defined to be used again
salary = df['base_salary'].apply(lambda x: x.split('(')[0])
minus_Kd = salary.apply(lambda x: x.replace('HK', '').replace('K', '').replace('$',''))

df['range_salary'] = df['base_salary'].apply(lambda x: 1 if '-' in x else 0)

df['min_salary'] = minus_Kd.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = minus_Kd.apply(lambda x: int(x) if '-' not in x else int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary + df.max_salary)/2

#comapny name text only
df['company_txt'] = df.apply(lambda x: x['company_name'] if x['rating'] < 0 else x['company_name'][:-4], axis = 1)

#state field
df['company_size'] = df['company_size'].apply(lambda x: x.replace('Employees', '') if 'Employees' in x else x)
df['industry'] = df['industry'].apply(lambda x: x.replace('Industry:', '') if 'Industry:' in x else x)
df['job_type'] = df['job_type'].apply(lambda x: x.replace('Job Type:', '') if 'Job Type:' in x else x)
df

df['company_age'] = df.founded.apply(lambda x: int(datetime.datetime.now().year) - x )
df.to_csv('salary_data_cleaned.csv', index = False)