In [1]:
import pandas as pd
import datetime

In [17]:
df = pd.read_csv('glassdoor_jobs.csv')

In [18]:
#salary parsing
#company name text only
#remove job_type,industry and size
#age of company
df.columns

Index(['company_name', 'job_type', 'base_salary', 'industry', 'company_size',
       'founded', 'rating', 'company_type', 'sector', 'job_description',
       'job_title'],
      dtype='object')

In [29]:
df = df.drop_duplicates()
df
df = df[df['base_salary'] != '-1']
df

,company_name,job_type,base_salary,industry,company_size,founded,rating,company_type,sector,job_description,job_title
0,"ExodusPoint Capital Management Hong Kong, Limi...",Job Type: Full-time,HK$210K - HK$368K (Glassdoor Est.),Industry: Finance,Size: 501 to 1000 Employees,2017,3.2,Company - Private,Finance,"ExodusPoint Capital, founded in 2017 by Michae...",Research analyst - Quantitative Strategies
4,5 Miles Lab Company Limited,Job Type: Full-time,HK$180K - HK$336K (Employer Est.),Industry: N/A,Size: N/A,2021,-1.0,NaN,NaN,Job Scope\nDevelopment of websites and applica...,Data Analyst @ Agency
10,JustOneGalaxy Recruitment,Job Type: Full-time,HK$180K - HK$480K (Employer Est.),Industry: N/A,Size: N/A,2021,-1.0,NaN,NaN,Business Intelligence Specialist/ Data Analyst...,Business Intelligence/ Data Analyst (9-5:30 wo...
16,BGC Group Pte Ltd\n3.4,Job Type: Full-time,HK$180K - HK$240K (Employer Est.),Industry: Business Services,Size: 51 to 200 Employees,2005,3.4,Company - Public,Business Services,What you can expect:\nBe part of the data anal...,Junior Data Analyst (IT industry; IoT Project)
26,Robustus Investment Management,Job Type: Full-time,HK$300K (Employer Est.),Industry: N/A,Size: N/A,2021,-1.0,NaN,NaN,ABOUT THIS ROLE\nRobustus is seeking a top-per...,Business Development Analyst
29,Aspen Digital,Job Type: Full-time,HK$216K (Employer Est.),Industry: N/A,Size: N/A,2021,-1.0,NaN,NaN,Aspen Digital is looking for a Junior Research...,Junior Research Analyst
30,Momenta\n3.0,Job Type: Full-time,HK$180K (Employer Est.),Industry: Manufacturing,Size: 1 to 50 Employees,1971,3.0,Company - Private,Manufacturing,What’s the role?\nWe are currently recruiting ...,Junior Business Analyst
46,A Start Personnel Limited,Job Type: Full-time,HK$264K - HK$360K (Employer Est.),Industry: N/A,Size: Unknown,2021,-1.0,Company - Private,NaN,Requirements:\n- Degree holder\n- 2-5 years da...,Data Analyst - Garment Industry
48,Cigna\n3.7,Job Type: Full-time,HK$192K - HK$360K (Glassdoor Est.),Industry: Insurance,Size: 10000+ Employees,1865,4.1,Company - Public,Insurance,Job Objective:\nTo sustain company’s growth bu...,"Financial Data Analyst, International Markets"
57,ELEVATE\n3.1,Job Type: Full-time,HK$125K - HK$187K (Glassdoor Est.),Industry: Business Services,Size: 501 to 1000 Employees,2008,3.1,Company - Private,Business Services,"ELEVATE is seeking a solutions-oriented, highl...",Data Visualization Analyst
82,ASK IT Limited\n4.7,Job Type: Full-time,HK$300K - HK$360K (Employer Est.),Industry: N/A,Size: 1 to 50 Employees,2021,4.7,Company - Private,NaN,Responsibilities:\nReport to Quality Assurance...,Quality Control Analyst
88,NielsenIQ\n3.9,Job Type: Full-time,HK$210K - HK$540K (Glassdoor Est.),Industry: N/A,Size: 10000+ Employees,1923,3.9,Company - Private,NaN,Job Description\n\nABOUT THIS JOB\nCompanies h...,"Analyst, Consumer Insights"
90,Momenta\n3.0,Job Type: Full-time,HK$2M (Employer Est.),Industry: Manufacturing,Size: 1 to 50 Employees,1971,3.0,Company - Private,Manufacturing,What’s the role?\nWe are currently recruiting ...,WCL Loan IQ Business Analyst
299,Cigna\n3.7,Job Type: Full-time,HK$192K - HK$360K (Glassdoor Est.),Industry: Insurance,Size: 10000+ Employees,1865,3.7,Company - Public,Insurance,Job Objective:\nTo sustain company’s growth bu...,"Financial Data Analyst, International Markets"
384,Cigna\n3.7,Job Type: Full-time,HK$192K - HK$360K (Glassdoor Est.),Industry: Insurance,Size: 10000+ Employees,1865,4.0,Company - Public,Insurance,Job Objective:\nTo sustain company’s growth bu...,"Financial Data Analyst, International Markets"

In [55]:

#labmda function is just a function but not defined to be used again
salary = df['base_salary'].apply(lambda x: x.split('(')[0])
minus_Kd = salary.apply(lambda x: x.replace('HK', '').replace('K', '').replace('$','').replace('M', '00'))

df['range_salary'] = df['base_salary'].apply(lambda x: 1 if '-' in x else 0)
df['min_salary'] = minus_Kd.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = minus_Kd.apply(lambda x: int(x) if '-' not in x else int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary + df.max_salary)/2

# #comapny name text only
df['company_txt'] = df.apply(lambda x: x['company_name'] if x['rating'] < 0 else x['company_name'][:-4], axis = 1)

# #state field
df['company_size'] = df['company_size'].apply(lambda x: x.replace('Employees', '') if 'Employees' in x else x)
df['industry'] = df['industry'].apply(lambda x: x.replace('Industry:', '') if 'Industry:' in x else x)
df['job_type'] = df['job_type'].apply(lambda x: x.replace('Job Type:', '') if 'Job Type:' in x else x)
df

df['company_age'] = df.founded.apply(lambda x: int(datetime.datetime.now().year) - x )
df.to_csv('salary_data_cleaned.csv', index = False)

pd.read_csv('salary_data_cleaned.csv')

,company_name,job_type,base_salary,industry,company_size,founded,rating,company_type,sector,job_description,job_title,range_salary,min_salary,max_salary,avg_salary,company_txt,company_age
0,"ExodusPoint Capital Management Hong Kong, Limi...",Full-time,HK$210K - HK$368K (Glassdoor Est.),Finance,Size: 501 to 1000,2017,3.2,Company - Private,Finance,"ExodusPoint Capital, founded in 2017 by Michae...",Research analyst - Quantitative Strategies,1,210,368,289.0,"ExodusPoint Capital Management Hong Kong, Limited",4
1,5 Miles Lab Company Limited,Full-time,HK$180K - HK$336K (Employer Est.),N/A,Size: N/A,2021,-1.0,NaN,NaN,Job Scope\nDevelopment of websites and applica...,Data Analyst @ Agency,1,180,336,258.0,5 Miles Lab Company Limited,0
2,JustOneGalaxy Recruitment,Full-time,HK$180K - HK$480K (Employer Est.),N/A,Size: N/A,2021,-1.0,NaN,NaN,Business Intelligence Specialist/ Data Analyst...,Business Intelligence/ Data Analyst (9-5:30 wo...,1,180,480,330.0,JustOneGalaxy Recruitment,0
3,BGC Group Pte Ltd\n3.4,Full-time,HK$180K - HK$240K (Employer Est.),Business Services,Size: 51 to 200,2005,3.4,Company - Public,Business Services,What you can expect:\nBe part of the data anal...,Junior Data Analyst (IT industry; IoT Project),1,180,240,210.0,BGC Group Pte Ltd,16
4,Robustus Investment Management,Full-time,HK$300K (Employer Est.),N/A,Size: N/A,2021,-1.0,NaN,NaN,ABOUT THIS ROLE\nRobustus is seeking a top-per...,Business Development Analyst,0,300,300,300.0,Robustus Investment Management,0
5,Aspen Digital,Full-time,HK$216K (Employer Est.),N/A,Size: N/A,2021,-1.0,NaN,NaN,Aspen Digital is looking for a Junior Research...,Junior Research Analyst,0,216,216,216.0,Aspen Digital,0
6,Momenta\n3.0,Full-time,HK$180K (Employer Est.),Manufacturing,Size: 1 to 50,1971,3.0,Company - Private,Manufacturing,What’s the role?\nWe are currently recruiting ...,Junior Business Analyst,0,180,180,180.0,Momenta,50
7,A Start Personnel Limited,Full-time,HK$264K - HK$360K (Employer Est.),N/A,Size: Unknown,2021,-1.0,Company - Private,NaN,Requirements:\n- Degree holder\n- 2-5 years da...,Data Analyst - Garment Industry,1,264,360,312.0,A Start Personnel Limited,0
8,Cigna\n3.7,Full-time,HK$192K - HK$360K (Glassdoor Est.),Insurance,Size: 10000+,1865,4.1,Company - Public,Insurance,Job Objective:\nTo sustain company’s growth bu...,"Financial Data Analyst, International Markets",1,192,360,276.0,Cigna,156
9,ELEVATE\n3.1,Full-time,HK$125K - HK$187K (Glassdoor Est.),Business Services,Size: 501 to 1000,2008,3.1,Company - Private,Business Services,"ELEVATE is seeking a solutions-oriented, highl...",Data Visualization Analyst,1,125,187,156.0,ELEVATE,13
10,ASK IT Limited\n4.7,Full-time,HK$300K - HK$360K (Employer Est.),N/A,Size: 1 to 50,2021,4.7,Company - Private,NaN,Responsibilities:\nReport to Quality Assurance...,Quality Control Analyst,1,300,360,330.0,ASK IT Limited,0
11,NielsenIQ\n3.9,Full-time,HK$210K - HK$540K (Glassdoor Est.),N/A,Size: 10000+,1923,3.9,Company - Private,NaN,Job Description\n\nABOUT THIS JOB\nCompanies h...,"Analyst, Consumer Insights",1,210,540,375.0,NielsenIQ,98
12,Momenta\n3.0,Full-time,HK$2M (Employer Est.),Manufacturing,Size: 1 to 50,1971,3.0,Company - Private,Manufacturing,What’s the role?\nWe are currently recruiting ...,WCL Loan IQ Business Analyst,0,200,200,200.0,Momenta,50
13,Cigna\n3.7,Full-time,HK$192K - HK$360K (Glassdoor Est.),Insurance,Size: 10000+,1865,3.7,Company - Public,Insurance,Job Objective:\nTo sustain company’s growth bu...,"Financial Data Analyst, International Markets",1,192,360,276.0,Cigna,156
14,Cigna\n3.7,Full-time,HK$192K - HK$360K (Glassdoor Est.),Insurance,Size: 10000+,1865,4.0,Company - Public,Insurance,Job Objective:\nTo sustain company’s growth bu...,"Financial Data Analyst, International Markets",1,192,360,276.0,Cigna,156